---
- name: create adguard project directory
  file:
    path: "{{ adguard_dir }}"
    state: directory
    mode: "0755"

- name: copy docker compose file
  copy:
    src: docker-compose.yaml
    dest: "{{ adguard_dir }}/docker-compose.yaml"
    mode: "0644"

- name: copy environment variables
  copy:
    src: .env
    dest: "{{ adguard_dir }}/.env"
    mode: "0600"

- name: start adguard containers
  community.docker.docker_compose_v2:
    project_src: "{{ adguard_dir }}"
    state: present
    pull: always
