services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 80:80/tcp
      - 443:443/tcp
      - 853:853/tcp
      - 3000:3000/tcp
    volumes:
      - ./work:/opt/adguardhome/work
        - ./conf:/opt/adguardhome/conf
