---
- name: enable ipv4 forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    reload: yes

- name: enable ipv6 forwarding
  sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    state: present
    reload: yes

- name: install iptables persistent
  ansible.builtin.apt:
    name: iptables-persistent
    state: present

- name: allow forwarding from tailscale
  iptables:
    chain: FORWARD
    in_interface: tailscale0
    jump: ACCEPT
    action: insert

- name: allow forwarding to tailscale
  iptables:
    chain: FORWARD
    out_interface: tailscale0
    jump: ACCEPT
    action: insert

- name: save iptables rules
  shell: netfilter-persistent save
