services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: svr-edge
    env_file:
      - .env
    volumes:
      - ./tailscale-state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_RAW
      - NET_ADMIN
      - SYS_MODULE
    network_mode: host
    command: tailscaled
    restart: unless-stopped
